<div class="row justify-content-center">
    <div class="col-md-8">
        <div>
            <h1>Contact Us</h1>
        </div>
        <form  [formGroup]="feedbackDetails" (ngSubmit)="submitContactUs()" class="contactform">
            <div class="mb-3">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" name="name" placeholder="Your Name" >
                <small *ngIf="feedbackDetails.controls['name'].invalid && (feedbackDetails.controls['name'].dirty || feedbackDetails.controls['name'].touched)" class="block p-error">
                    <div *ngIf="(feedbackDetails.controls['name'].errors)?.['required']">Name is required</div>
                </small>
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input type="email" class="form-control"  formControlName="emailId" name="emailId" placeholder="name@example.com">
                <small *ngIf="feedbackDetails.controls['emailId'].invalid && (feedbackDetails.controls['emailId'].dirty || feedbackDetails.controls['emailId'].touched)" class="block p-error">
                    <div *ngIf="(feedbackDetails.controls['emailId'].errors)?.['required']">Email is required</div>
                    <div *ngIf="(feedbackDetails.controls['emailId'].errors)?.['email']">Email should be valid</div>
                  </small>
            </div>
            <div class="mb-3">
                <label>Message</label>
                <textarea class="form-control"  formControlName="message" name="message" rows="3" ></textarea>
                <small *ngIf="feedbackDetails.controls['message'].invalid && (feedbackDetails.controls['message'].dirty || feedbackDetails.controls['message'].touched)" class="block p-error">
                    <div *ngIf="(feedbackDetails.controls['message'].errors)?.['required']">Message is required</div>
                </small>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="feedbackDetails.invalid">Submit</button>
        </form>
    </div>
</div>

