<div class="about">
<header>
    <h1>About Book House</h1>
</header>
<main>
    <section>
        <h2>Who We Are</h2>
        <p>Book House is your one-stop destination for all your favourite books. Whether you're looking for the latest bestsellers, timeless classics, or undiscovered gems, we've got you covered.</p>
    </section>
    <section>
        <h2>What We Do</h2>
        <p>With our book rental service app, its a life saver for local book store vendors and customers to let there customer advance rent the books they need without the issue of book unavailability and going empty handed.</p>
    </section>
    <section>
        <h2>Our Mission</h2>
        <p>Our mission is to promote the love of reading by making local customer life easier by booking there books in advance by paying a minimal rental price to the owner with us being the medium.</p>
    </section>
</main>
</div>
  
